---
import '../styles/global.css'
import Section from '../components/section/Section.astro'
import ArticlesContent from '../index/sections/articles.md'
import Toppings from '../components/Toppings.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Alle artikler fra Lars-Erik Bruce. Les innlegg om utvikling, musikk og teknologi."
    />
    <title>Artikler - Lars-Erik Bruce</title>
  </head>
  <body>
    <div class="editor-canvas">
      <Toppings />

      <Section
        label="Written_Content"
        columns={3}
        class="articles-area"
        heading="Artikler"
      >
        <ArticlesContent />
      </Section>
    </div>
  </body>
</html>
