---
import { Facebook, Linkedin, Instagram } from '@lucide/astro'
import Section from './section/Section.astro'
---

<Section label="Social_media" columns={3} class="social-area">
  <div class="social-links">
    <span class="social-link-item">
      <Facebook size={18} class="social-icon" />
      <a href="https://www.facebook.com/mr.bruce.le">[FACEBOOK]</a>
    </span>
    <span class="social-link-item">
      <Linkedin size={18} class="social-icon" />
      <a href="https://www.linkedin.com/in/lars-erik-bruce-0200951a/">
        [LINKEDIN]
      </a>
    </span>
    <span class="social-link-item">
      <Instagram size={18} class="social-icon" />
      <a href="https://www.instagram.com/lebbechen/">[INSTAGRAM]</a>
    </span>
  </div>
</Section>

<Section
  label="Identity_Module"
  columns={2}
  as="header"
  class="header-area"
  heading="Lars-Erik Bruce"
  headingLevel="h1"
>
  <p>
    Senior Software Engineer, filosof, elektronisk musiker og digital kunstner.
    Advocate for web-standarder, tilgjengelighet og "kjedelig" teknologi som
    faktisk fungerer.
  </p>
  <nav>
    <a href="bio.html">[LES BIOGRAFI]</a>
  </nav>
</Section>

<Section label="Files" columns={1} heading="CV">
  <p>Sist oppdatert: 2026-01-03</p>
  <a href="cv.pdf" class="btn">DOWNLOAD.PDF</a>
</Section>
